
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
* {
  font-family: "Titillium Web", sans-serif;
 }

body {
  height: 2000px;
  background-color: black !important;
  
}
.navbar .navbar-brand {
  font-size: 30px;
  color: rgb(48, 93, 93);
  /* float: left; */
}
.navbar .nav-item {
  padding: 10px 20px;
  /* float: left; */
  
}
.navbar .nav-link {
  font-size: 20px;
  margin-left: 10px;
  color: #78b730;
}

/* .nav1{
    background-color: rgb(46, 199, 246);
}
.nav{
    float: right; */

/* #carouselId{
    height: 100%;
} */


/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&display=swap'); */

/* html 
{
  height:100%;
} */



















.head1{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: solid;
  margin: 5%;
  color: rgb(147, 143, 143)

  
  }
div .g-img {
width: 400px;
height: 300px;
border: 2px solid #ff3d0036;
border-radius: 13px;
box-shadow: 4px 7px 7px 0px #00000042;
cursor: pointer;
margin: 10px;
transition: 400ms;
}

div .g-img:hover{
filter: grayscale(1);
transform: scale(1.03);
}

.about{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: solid;
  color: rgb(147, 143, 143);
  margin: 5%;
    }
 
    div .d-img {
    width: 400px;
    height: 500px;
    border: 2px solid #ff3d0036;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;
    margin-left: 5%;
    transition: 400ms;
    }
  div .d-img:hover{
    filter: grayscale(1);
    transform: scale(1.03);
  }
  .p1{
    margin-left: 40%;
    color: bisque;
    
  }













/* .navbar{
    background-color: rgb(10, 27, 29) !important;
}
.conus{
    text-align: center;
} */
/*.contact{
    margin-top: 100px;
    padding: 200px;
}*/

/* .contactus{
      background-color:  rgb(54, 195, 216);;
} */