@import url("https://fonts.googleapis.com/css?family=Titillium+Web");

* {
  font-family: "Titillium Web", sans-serif;
}

body {
  min-height: 100vh;
  background-color: black !important;

}

.navbar .navbar-brand {
  font-size: 30px;
  color: rgb(48, 93, 93);
}

.navbar .nav-item {
  padding: 10px 20px;
}

.navbar .nav-link {
  font-size: 20px;
  margin-left: 10px;
  color: #78b730;
}


.head1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div .g-img {
  width: 400px;
  height: 300px;
  border: 2px solid #ff3d0036;
  border-radius: 13px;
  box-shadow: 4px 7px 7px 0px #00000042;
  cursor: pointer;
  margin: 10px;
  transition: 400ms;
  text-decoration: solid;
  margin: 5%;
  color: rgb(147, 143, 143)
}

div .g-img {
  width: 398px;
  height: 298px;
  border: 2px solid #ff3d0036;
  border-radius: 13px;
  box-shadow: 4px 7px 7px 0px #00000042;
  cursor: pointer;
  margin: 10px;
  transition: 400ms;
}

div .g-img:hover {
  filter: grayscale(1);
  transform: scale(1.03);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: solid;
  color: rgb(147, 143, 143);
  margin: 5%;
}

div .d-img {
  width: 400px;
  height: 500px;
  border: 2px solid #ff3d0036;
  border-radius: 13px;
  box-shadow: 4px 7px 7px 0px #00000042;
  cursor: pointer;
  margin-left: 5%;
  transition: 400ms;
}

div .d-img:hover {
  filter: grayscale(1);
  transform: scale(1.03);
}

.p1 {
  margin-left: 35%;
  color: bisque;
  text-indent: 200px;

}

.card-slider-container {
  position: relative;
  height: 500px;
  width: 100%;
}

.card {
  flex: 100%;
  scroll-snap-align: start;
  background-color: #f8f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-size: 24px;
}

.card {
  width: 280px;
  height: 350px;
  background-color: #ccc;
  margin-left: 70px;
}

.card-slider {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  width: 1400px;
}

.card-row {
  padding: 150px;
  display: inline-flex;
  flex-direction: row;
  scroll-snap-align: start;

}

.card-slider-controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slider-prev,
.slider-next {
  margin: 0px 130px;
}
 